.vs/ExerciciosLogica/CopilotIndices/17.14.719.50355/CodeChunks.db
.vs/ExerciciosLogica/CopilotIndices/17.14.719.50355/CodeChunks.db-shm
.vs/ExerciciosLogica/CopilotIndices/17.14.719.50355/CodeChunks.db-wal
.vs/ExerciciosLogica/CopilotIndices/17.14.719.50355/SemanticSymbols.db
.vs/ExerciciosLogica/CopilotIndices/17.14.719.50355/SemanticSymbols.db-shm
.vs/ExerciciosLogica/CopilotIndices/17.14.719.50355/SemanticSymbols.db-wal
.vs/ExerciciosLogica/DesignTimeBuild/.dtbcache.v2
.vs/ExerciciosLogica/FileContentIndex/2fb697ea-2c7c-4b3e-8f2a-d95890730e9c.vsidx
.vs/ExerciciosLogica/FileContentIndex/9f5b2b06-30d8-4044-b7c4-9f719bf7c22e.vsidx
.vs/ExerciciosLogica/FileContentIndex/87a5e10a-6517-44de-9ff9-e0fcc7ad84de.vsidx
.vs/ExerciciosLogica/FileContentIndex/67de89ba-244f-4f16-ae66-797821dc4351.vsidx
.vs/ExerciciosLogica/FileContentIndex/bf4b472f-84bb-430a-bbc2-b58ded1aa797.vsidx
.vs/ExerciciosLogica/FileContentIndex/ddadaa7f-7677-4b52-8456-02484ba6c614.vsidx
.vs/ExerciciosLogica/FileContentIndex/eae91023-4d81-4870-9feb-788187e5d845.vsidx
.vs/ExerciciosLogica/FileContentIndex/ec1d2756-b3bc-4b50-8c8a-900d9b6b6c61.vsidx
.vs/ExerciciosLogica/v17/.futdcache.v2
.vs/ExerciciosLogica/v17/.suo
.vs/ExerciciosLogica/v17/DocumentLayout.backup.json
.vs/ExerciciosLogica/v17/DocumentLayout.json
.vs/ProjectEvaluation/exercicioslogica.metadata.v9.bin
.vs/ProjectEvaluation/exercicioslogica.projects.v9.bin
.vs/ProjectEvaluation/exercicioslogica.strings.v9.bin
